{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column-->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Welcome to our blog You can share your thoughts on this platform!</p>
        <a href="http://127.0.0.1:8000/"
           class="btn btn-danger">HOME</a>
    </div>
</div>
</div>

{% endblock sidebar %}

<!--"https://djangocentral.com/building-a-blog-application-with-django"-->